@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html, body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  background-color: #edf8ff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.app {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Alata', sans-serif;
  text-align: center;
}

.footer-text a {
  padding-left: 5px;
  padding-right: 5px;
}
